# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Env / Secrets
.env
.env.*
*.env

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
